@charset "UTF-8";

/* SUB-COMMON - S */
.main {line-height: 1.5; text-align: center;}
section {margin-bottom: 50px;}
.sub-sec{font-size: 22px;}
.sub-inner{
  width: 100%; max-width: 1200px;
  margin: 0 auto; padding: 0 20px;
}
.visual{width: 100%; height: 350px;margin-bottom: 0;}
.visual p {
  display: flex; justify-content: center; align-items: center;
  height: 400px;
  font-weight: 700; font-size: 50px; color: #fff;
}
.lnb{border-bottom: 1px solid #e4e4e4;}
.lnb .sub-inner{
  display: flex; justify-content: flex-start; align-items: center;
  padding: 0;
  height: 70px;
  border-right: 1px solid #e4e4e4;
}
.lnb .lnb-home{
  display: flex; justify-content: center; align-items: center;
  width: 6%; height: 70px;
  padding: 10px;
  background-color: #222;
  transition: all 0.3s;
}
.lnb .lnb-home i{font-size: 24px; color: #fff;}
.lnb .lnb-depth1{
  display: flex; justify-content: flex-start; align-items: center;
  width: 18%; height: 70px;
  padding-left: 20px;
  font-size: 20px; color: #fff;
  background-color: #ee0029;
  transition: all 0.3s;
}
.lnb .lnb-depth2 > a{display: none;}
.lnb .lnb-depth2-list{display: flex;}
.lnb .lnb-depth2-list li{
  font-size: 20px; color: #777;
  position: relative;
}
.lnb .lnb-depth2-list li::after{
  content: "";
  width: 1px;height: 17px;
  background-color: #111;
  position: absolute; right: 0; top: 50%;
  transform: translate( 0 , -50%);
}
.lnb .lnb-depth2-list li:last-child:after{display: none;}
.lnb .lnb-depth2-list li a{padding: 0 40px;}

.lnb .lnb-depth2-list li:hover{font-weight: 700; color: #111;}
.lnb-home:hover {background-color: #a2071a;}
.lnb-depth1:hover {background-color: #a2071a;}
.page-header{font-weight: 700;font-size: 36px; color: #111;}

.main-wrap{
  width: 100%; max-width: 1200px; 
  margin: 0 auto;
  padding: 100px 10px;
}

.sub-tit{
  margin-bottom: 100px;
  font-weight: 700;  font-size: 36px; color: #111;
}

/* SUB-COMMON - E */



@media screen and (max-width:1200px) {
  /* SUB-COMMON - S */
  /* main {line-height: 1.5; text-align: center;} */
  /* .sub-inner{
    width: 100%; max-width: 1200px;
    margin: 0 auto; padding: 0 20px;
  } */
  .visual{width: 100%; height: 300px;}
  .visual h2 {
    /* display: flex; justify-content: center; align-items: center; */
    height: 350px;
    /* font-weight: 700; font-size: 50px; color: #fff; */
  }
  .lnb{
    height: 60px;
    border-bottom: 1px solid #e4e4e4;
  }
  .lnb .sub-inner{
    display: flex; justify-content: flex-start; align-items: flex-start;
    padding: 0;
    height: 60px;
    border-right: 0px;
  }
  .lnb .lnb-home{
    /* display: flex; justify-content: center; align-items: center; */
    /* width: 6%; */
    height: 60px;
    /* background-color: #222; */
    /* transition: all 0.3s; */
  }
  /* .lnb .lnb-home i{font-size: 24px; color: #fff;} */
  .lnb .lnb-depth1{
    /* display: flex; justify-content: flex-start; align-items: center; */
    /* width: 18%; */
    height: 60px;
    /* padding-left: 30px; */
    /* font-size: 20px; color: #fff; */
    /* background-color: #ee0029; */
    /* transition: all 0.3s; */
  }
  .lnb .lnb-depth2{
    height: 60px;
    border-right: 1px solid #e4e4e4;
    position: relative;
  }
  .lnb .lnb-depth2 > a{
    display: flex; align-items: center;
    height: 60px;
    padding: 5px 120px 5px 30px ;
    font-size: 20px;
    position: relative;
  }
  .lnb .lnb-depth2 > a i{
    position: absolute; right: 30px; top: 20px;
  }
  .lnb .lnb-depth2-list{
    display: none;
    flex-direction: column;
    width: 100%; height: auto;
    background-color: #fff;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
    position: absolute; left: 0;top: 60px; z-index: 10;
  }
  .lnb .lnb-depth2-list li{
    font-size: 15px; text-align: start; color: #999;
    position: relative;
  }
  .lnb .lnb-depth2-list li:first-child{font-weight: 700; color: #111;}
  .lnb .lnb-depth2-list li::after{
    /* content: ""; */
    display: none;
    /* width: 1px;height: 17px; */
    /* background-color: #111; */
    /* position: absolute; right: 0; top: 50%; */
    /* transform: translate( 0 , -50%); */
  }
  /* .lnb .lnb-depth2-list li:last-child:after{display: none;} */
  .lnb .lnb-depth2-list li a{
    display: block;
    padding: 8px 15px;
  }

  /* .lnb-home:hover {background-color: #a2071a;} */
  /* .lnb-depth1:hover {background-color: #a2071a;} */
  .lnb .lnb-depth2 > a:hover ~ .lnb-depth2-list {display: block;}
  .lnb .lnb-depth2 > a:hover i {transform: rotate(180deg);}
  /* SUB-COMMON - E */
}
@media screen and (max-width:780px) {
  /* SUB-COMMON - S */
  .visual{height: 250px;}
  .visual h2 {height: 300px;}
  .lnb{height: 55px;}
  .lnb .sub-inner{height: 55px;}
  .lnb .lnb-home{height: 55px;}
  .lnb .lnb-depth1{height: 55px;}
  .lnb .lnb-depth2{
    height: 55px;
    border-right: 1px solid #e4e4e4;
    position: relative;
  }
  .lnb .lnb-depth2 > a{
    display: flex; align-items: center;
    height: 55px;
    padding: 5px 120px 5px 30px ;
    font-size: 20px;
    position: relative;
  }
  .lnb .lnb-depth2-list{top: 55px;}
  /* SUB-COMMON - E */
}